.card-demo__container{
    position: relative;
    border-radius: 10px;
    width: 306px;
    height: 306px;

    display: flex;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;

}
.card-demo__container:hover{
    background: rgba(0, 0, 0, 0.863);
}
.card-demo__container:active{
    border: 2px solid #004c8a;
    border-radius: 10px;
}

.card-demo__img{
    min-width: 100%;
    min-height: 100%;
    border-radius: 10px;
}
.card-demo__img:hover{
    opacity: 0.9;
    background: white;
    border: white solid 2px;
}


