<div class="home__container">
    <app-banner class="banner__top" imgBanner="/assets/img_arrow.avif" title="OFERTAS IMPERDÍVEIS" content="Jogue mais, pague menos. Descubra agora ofertas incríveis nos melhores jogos." buttonName="Poupe Já"></app-banner>
    <div class="card__jogos">

        <div class="card__Posicao">
            <div class="name__categoria">10 melhores jogos no seu país</div>
            <div class="card__categoria">
                <app-card gameCover="assets/Fifa23.webp" gameName="EA SPORTS™ FIFA 23"></app-card>
                <app-card gameCover="/assets/jogos/HogWarts.webp" gameName="Hogwarts Legacy"></app-card> 
                <app-card gameCover="/assets/jogos/Fortnite.webp" gameName="Fortnite"></app-card>
                <app-card gameCover="/assets/jogos/DeadSpace.webp" gameName="Dead Space"></app-card>
                <app-card gameCover="assets/jogos/mw2.jpeg" gameName="Call of Duty®: Modern Warfare® II"></app-card>
                <app-card gameCover="assets/jogos/GTAV.webp" gameName="Grand Theft Auto V (PlayStation®5)"></app-card>
                <app-card gameCover="assets/jogos/GodOfWar.jpeg" gameName="God of War Ragnarök"></app-card>
                <app-card gameCover="assets/jogos/DiabloIV.webp" gameName="Diablo® IV"></app-card>
                <app-card gameCover="assets/jogos/TheLastOfUs1.webp" gameName="The Last Of Us"></app-card>
                <app-card gameCover="assets/jogos/Forspoken.jpeg" gameName="Forspoken" ></app-card>
            </div>
        </div>

        <div class="card__Posicao">
            <div class="name__categoria">Novos jogos</div>
            <div class="card__categoria">
                <app-card gameCover="assets/Fifa23.webp" gameName="EA SPORTS™ FIFA 23"></app-card>
                <app-card gameCover="/assets/jogos/HogWarts.webp" gameName="Hogwarts Legacy"></app-card> 
                <app-card gameCover="/assets/jogos/Fortnite.webp" gameName="Fortnite"></app-card>
                <app-card gameCover="/assets/jogos/DeadSpace.webp" gameName="Dead Space"></app-card>
                <app-card gameCover="assets/jogos/mw2.jpeg" gameName="Call of Duty®: Modern Warfare® II"></app-card>
                <app-card gameCover="assets/jogos/GTAV.webp" gameName="Grand Theft Auto V (PlayStation®5)"></app-card>
                <app-card gameCover="assets/jogos/GodOfWar.jpeg" gameName="God of War Ragnarök"></app-card>
                <app-card gameCover="assets/jogos/DiabloIV.webp" gameName="Diablo® IV"></app-card>
                <app-card gameCover="assets/jogos/TheLastOfUs1.webp" gameName="The Last Of Us"></app-card>
                <app-card gameCover="assets/jogos/Forspoken.jpeg" gameName="Forspoken" ></app-card>
            </div>
        </div>

        <div class="card__Posicao">
            <div class="name__categoria">Em breve</div>
            <div class="card__categoria">
                <app-card gameCover="assets/Fifa23.webp" gameName="EA SPORTS™ FIFA 23"></app-card>
                <app-card gameCover="/assets/jogos/HogWarts.webp" gameName="Hogwarts Legacy"></app-card> 
                <app-card gameCover="/assets/jogos/Fortnite.webp" gameName="Fortnite"></app-card>
                <app-card gameCover="/assets/jogos/DeadSpace.webp" gameName="Dead Space"></app-card>
                <app-card gameCover="assets/jogos/mw2.jpeg" gameName="Call of Duty®: Modern Warfare® II"></app-card>
                <app-card gameCover="assets/jogos/GTAV.webp" gameName="Grand Theft Auto V (PlayStation®5)"></app-card>
                <app-card gameCover="assets/jogos/GodOfWar.jpeg" gameName="God of War Ragnarök"></app-card>
                <app-card gameCover="assets/jogos/DiabloIV.webp" gameName="Diablo® IV"></app-card>
                <app-card gameCover="assets/jogos/TheLastOfUs1.webp" gameName="The Last Of Us"></app-card>
                <app-card gameCover="assets/jogos/Forspoken.jpeg" gameName="Forspoken" ></app-card>
            </div>
        </div>

        <div class="card__Posicao">
            <div class="name__categoria">Demonstrações</div>
            <div class="card__categoria">
                <div class="ordem">
                    <app-card gameCover="assets/Fifa23.webp" gameName="EA SPORTS™ FIFA 23" gamePrice="Gratuito" gameType="DEMO" ></app-card>
                    <div class="ordem__card-label">
                        <div class="card-label__position">
                            <app-card-label gameLabel="PS4"></app-card-label>
                        </div>
                        <div class="card-label__position">
                           <app-card-label gameLabel="PS5"></app-card-label>
                        </div>
                    </div>
                </div>
                <div class="ordem">
                    <app-card gameCover="/assets/jogos/HogWarts.webp" gameName="Hogwarts Legacy" gamePrice="Gratuito"></app-card> 
                    <div class="ordem__card-label">
                        <div class="card-label__position">
                            <app-card-label gameLabel="PS4"></app-card-label>
                        </div>
                    </div>
                </div>

                <div class="ordem">
                    <app-card gameCover="/assets/jogos/Fortnite.webp" gameName="Fortnite" gamePrice="Gratuito" gameType="DEMO" ></app-card>
                    <div class="ordem__card-label">
                        <div class="card-label__position">
                            <app-card-label gameLabel="PS5"></app-card-label>
                        </div>
                    </div>
                </div>
                <div class="ordem">
                    <app-card gameCover="/assets/jogos/DeadSpace.webp" gameName="Dead Space" gamePrice="Gratuito" gameType="DEMO" ></app-card>
                    <div class="ordem__card-label">
                        <div class="card-label__position">
                           <app-card-label gameLabel="PS5"></app-card-label>
                        </div>
                    </div>
                </div>
                <div class="ordem">
                    <app-card gameCover="assets/jogos/mw2.jpeg" gameName="Call of Duty®: Modern Warfare® II" gamePrice="Gratuito" gameType="DEMO" ></app-card>
                    <div class="ordem__card-label">
                        <div class="card-label__position">
                            <app-card-label gameLabel="PS4"></app-card-label>
                        </div>
                        <div class="card-label__position">
                           <app-card-label gameLabel="PS5"></app-card-label>
                        </div>
                    </div>
                </div>
                <div class="ordem">
                    <app-card gameCover="assets/jogos/GTAV.webp" gameName="Grand Theft Auto V (PlayStation®5)" gamePrice="Gratuito" gameType="DEMO" ></app-card>
                    <div class="ordem__card-label">
                        <div class="card-label__position">
                            <app-card-label gameLabel="PS4"></app-card-label>
                        </div>
                        <div class="card-label__position">
                           <app-card-label gameLabel="PS5"></app-card-label>
                        </div>
                    </div>
                </div>
                <div class="ordem">
                    <app-card gameCover="assets/jogos/GodOfWar.jpeg" gameName="God of War Ragnarök" gamePrice="Gratuito" gameType="DEMO"></app-card>
                    <div class="ordem__card-label">
                        <div class="card-label__position">
                           <app-card-label gameLabel="PS5"></app-card-label>
                        </div>
                    </div>
                </div>
                <div class="ordem">
                    <app-card gameCover="assets/jogos/DiabloIV.webp" gameName="Diablo® IV" gamePrice="R$79,90" gameType="DEMO"></app-card>
                    <div class="ordem__card-label">
                        <div class="card-label__position">
                           <app-card-label gameLabel="PS5"></app-card-label>
                        </div>
                    </div>
                </div>
                <div class="ordem">
                    <app-card gameCover="assets/jogos/TheLastOfUs1.webp" gameName="The Last Of Us" gamePrice="R$19,90" gameType="DEMO"></app-card>
                    <div class="ordem__card-label">
                        <div class="card-label__position">
                            <app-card-label gameLabel="PS4"></app-card-label>
                        </div>
                    </div>
                </div>
                <div class="ordem">
                    <app-card gameCover="assets/jogos/Forspoken.jpeg" gameName="Forspoken" gamePrice="Gratuito" gameType="DEMO"></app-card>
                    <div class="ordem__card-label">
                        <div class="card-label__position">
                            <app-card-label gameLabel="PS4"></app-card-label>
                        </div>
                    </div>
                </div>    
            </div>
        </div>

    </div>
    
    <app-banner class="banner__Plus" imgBanner="/assets/PlayStation__Plus.webp" title="Este é o PlayStation Plus" content="Melhore sua experiência no PlayStation com o modo multijogador online, jogos mensais, descontos exclusivos e muito mais." buttonName="Saiba Mais"></app-banner>
    <app-banner class="banner__Starts" imgBanner="/assets/PlayStation__Starts.jpg" content="Inscreva-se gratuitamente, complete missões e ganhe recompensas" buttonName="Saiba Mais"></app-banner>
   

</div>
<div class="footer">
    Desenvolvido em 2023 | Por Daniel Almeida 
</div>