<div class="home__container">
    <app-banner class="banner__top" imgBanner="/assets/img_arrow.avif" title="OFERTAS IMPERDÍVEIS" content="Jogue mais, pague menos. Descubra agora ofertas incríveis nos melhores jogos." buttonName="Poupe Já"></app-banner>
    <div class="card__jogos">
        <app-card gameCover="assets/ac-cover.jpg" gameLabel="EXCLUSIVE" gameType="DISC | PSP  PS3" gamePrice="R$ 109,99"></app-card>
        <app-card gameCover="assets/bt-hardline.jpg" gameLabel="DIGITAL" gameType="DISC | PS3" gamePrice="R$ 129,99"></app-card>
        <app-card gameCover="assets/bt-1.jpg" gameLabel="DIGITAL" gameType="DISC | PS3  PS4" gamePrice="R$ 129,99"></app-card>
        <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="DIGITAL" gameType="DISC | PS3" gamePrice="R$ 129,99"></app-card>
        <app-card gameCover="assets/bt-4.jpg" gameLabel="EXCLUSIVE" gameType="DIGITAL |  PS3 PS4 PS5" gamePrice="R$ 269,99" ></app-card>
        <app-card gameCover="assets/bt-5.jpg" gameLabel="EXCLUSIVE"gameType="DISC |  PS4 PS5" gamePrice="R$ 399,99"></app-card>
    </div>
    <div class="banner">
        <app-banner imgBanner="/assets/PlayStation__Plus.webp" title="Este é o PlayStation Plus" content="Melhore sua experiência no PlayStation com o modo multijogador online, jogos mensais, descontos exclusivos e muito mais." buttonName="Saiba Mais"></app-banner>
        <app-banner imgBanner="/assets/PlayStation__Starts.jpg" content="Inscreva-se gratuitamente, complete missões e ganhe recompensas" buttonName="Saiba Mais"></app-banner>
    </div>

</div>
<div class="footer">
    Desenvolvido em 2023 | Por Daniel Almeida 
</div>