<div class="home__container">
    <app-card gameCover="assets/ac-cover.jpg" gameLabel="EXCLUSIVE" gameType="DISC | PSP  PS3" gamePrice="R$ 109,99"></app-card>
    <app-card gameCover="assets/bt-hardline.jpg" gameLabel="DIGITAL" gameType="DISC | PS3" gamePrice="R$ 129,99"></app-card>
    <app-card gameCover="assets/bt-1.jpg" gameLabel="DIGITAL" gameType="DISC | PS3  PS4" gamePrice="R$ 129,99"></app-card>
    <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="DIGITAL" gameType="DISC | PS3" gamePrice="R$ 129,99"></app-card>
    <app-card gameCover="assets/bt-4.jpg" gameLabel="EXCLUSIVE" gameType="DIGITAL |  PS3 PS4 PS5" gamePrice="R$ 269,99" ></app-card>
    <app-card gameCover="assets/bt-5.jpg" gameLabel="EXCLUSIVE"gameType="DISC |  PS4 PS5" gamePrice="R$ 399,99"></app-card>
</div>
<div class="footer">
    Desenvolvido em 2023 | Por Daniel Almeida 
</div>